<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
           
         <title>お気に入り一覧</title>   
     </head>s
     <body>
		 <main>

			 
			 <!-- お気に入り一覧 -->
			<div class="mb-3" th:each="house : ${housePage}">
			    <a th:href="@{/favoritesList}" class="link-dark samuraitravel-card-link">
			        <div class="card h-100">   
			            <div class="row g-0">
			                <div class="col-md-4">                                                                                
			                    <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="card-img-top samuraitravel-horizontal-card-image" alt="店舗画像">                                                     
			                    <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top samuraitravel-horizontal-card-image" alt="NO IMAGE">                                                    
			                </div> 
			                <div class="col-md-8">                                                                                                                        
			                    <div class="card-body">                                    
			                        <h3 class="card-title mb-3" th:text="${house.getName()}"></h3>                                            
			
			                        <hr class="mb-3">
			                        
			                        <p class="card-text mb-2">
			                            <span th:text="${house.getDescription()}"></span>
			                        </p>                                                    
			                        
			                        <p class="card-text mb-2">
			                            <small class="text-muted" th:text="${'〒' + house.getPostalCode()}"></small>
			                            <small class="text-muted" th:text="${house.getAddress()}"></small>                                                      
			                        </p>   
			                                                                                                                                                                                                       
			                        <p class="card-text">
			                            <span th:text="${#numbers.formatInteger(house.getPrice(), 1, 'COMMA') + '円 / 泊'}"></span>
			                        </p>                                    
			                    </div>
			                </div>
			            </div>
			        </div>    
			    </a>            
			</div>  
		 </main>
	 </body>
</html>